In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [2]:
spark = SparkSession.builder \
    .appName("ReadFromHDFS") \
    .getOrCreate()

In [3]:
df = spark.read \
    .format("parquet") \
    .load("hdfs://hadoop-namenode:9000/user/jovyan/output/kafka_parquet")

In [4]:
schema = StructType([
    StructField("", StringType(), True),
    StructField("trans_date_trans_time", StringType(), True),
    StructField("cc_num", StringType(), True),
    StructField("merchant", StringType(), True),
    StructField("category", StringType(), True),
    StructField("amt", StringType(), True),
    StructField("first", StringType(), True),
    StructField("last", StringType(), True),
    StructField("gender", StringType(), True),
    StructField("street", StringType(), True),
    StructField("city", StringType(), True),
    StructField("state", StringType(), True),
    StructField("zip", StringType(), True),
    StructField("lat", StringType(), True),
    StructField("long", StringType(), True),
    StructField("city_pop", StringType(), True),
    StructField("job", StringType(), True),
    StructField("dob", StringType(), True),
    StructField("trans_num", StringType(), True),
    StructField("unix_time", StringType(), True),
    StructField("merch_lat", StringType(), True),
    StructField("merch_long", StringType(), True),
    StructField("is_fraud", StringType(), True),
    StructField("event_time",StringType(),True)
])

In [5]:
df = df.select(from_json(col("json_str"),schema=schema).alias("data")).select("data.*")

In [6]:
df.printSchema()

root
 |-- : string (nullable = true)
 |-- trans_date_trans_time: string (nullable = true)
 |-- cc_num: string (nullable = true)
 |-- merchant: string (nullable = true)
 |-- category: string (nullable = true)
 |-- amt: string (nullable = true)
 |-- first: string (nullable = true)
 |-- last: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- street: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- zip: string (nullable = true)
 |-- lat: string (nullable = true)
 |-- long: string (nullable = true)
 |-- city_pop: string (nullable = true)
 |-- job: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- trans_num: string (nullable = true)
 |-- unix_time: string (nullable = true)
 |-- merch_lat: string (nullable = true)
 |-- merch_long: string (nullable = true)
 |-- is_fraud: string (nullable = true)
 |-- event_time: string (nullable = true)

In [7]:
df = df.coalesce(2)

In [8]:
df.write \
    .format("parquet") \
    .mode("overwrite") \
    .save("hdfs://hadoop-namenode:9000/user/jovyan/output/kafka_parquet_compact")

In [ ]:
,,,,, -----> {.......} -----> "{.......}" ---> 00101011001   -------> "{.......}" ----> {.......} -----> ,,,,,

ahmed,25,ECE -----> {name:ahmed,age:25,dep:ECE}  -----> {name:ahmed,age:25,dep:ECE}"